#Minecraft server properties
#Fri Jun 19 07:26:15 UTC 2015
generator-settings=
op-permission-level={{default "4" or .Env.OP_PERM_LEVEL }}
level-name=world
allow-flight={{default "false" or .Env.ALLOW_FLIGHT }}
announce-player-achievements=true
server-port=25565
level-type=DEFAULT
level-seed=
force-gamemode=false
server-ip=
max-build-height=256
spawn-npcs=true
white-list=false
spawn-animals=true
snooper-enabled=true
online-mode=true
resource-pack=
pvp=true
difficulty=1
enable-command-block=false
gamemode=0
player-idle-timeout=0
max-players=20
generate-structures=true
view-distance=10
motd=A Minecraft Server
